{% extends "base.html" %}
{% load static %}


{% block content %}

    <title>Admin Dashboard</title>
    <link rel="icon" type="image/ico" href="https://www.codesansar.com/themes/musu/assets/images/favicon.ico">

    <style>
     

        a:hover {
    color: #e6ae56;
    text-decoration: none;
}
a {
    color: #44db4b;
    text-decoration: none;
    /* background-color: n; */
}
    </style>

    
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">

    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Sections</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{data}}</li>

    </ol>

</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <!-- Sidebar or quick links can go here -->
            
        </div>

       
        
        <div class="col-md-9">
            <!-- Main content area -->
            <h2>{{data}}</h2>
               <br>

            </div>
         

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for topic in topics %}

                    <tr>
                        <td>{{topic.id}}</td>
                        <td><a href="#"  class="btn waves-effect waves-light" >{{topic.title}}</a>
                        </td>
                        <td>
                            <a href="{% url 'update_subject' topic.id %}"  class="btn waves-effect waves-light" >Edit</a>
                            <a href="{% url 'delete_subject' topic.id %}"  class="btn waves-effect waves-light" >Delete</a>

                        </td>
                    </tr>
                    {% endfor %}

                    <!-- Add more document rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}