{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>My Doc</title>
<link rel="icon" type="image/ico" href="https://www.codesansar.com/themes/musu/assets/images/favicon.ico">
<!-- 
<meta name="description" content="Learn programming languages C, C++ and Python from scratch using our tutorials and examples.">
<meta name="keywords"	content="Programming, Learn to Code, Learn Programming, CodeSansar"> -->

<script data-ad-client="ca-pub-7016530808727939" async src="{%static 'pagead2.googlesyndication.com/pagead/js/adsbygoogle.js' %}"></script><link rel="stylesheet" href="https://www.codesansar.com/combine/a501278e74fa2b0ce06fe0f4c01a8210-1589878848" media="screen,projection">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146418253-1"></script>
<script data-ad-client="ca-pub-7016530808727939" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script></head>

<body>
<nav class="teal darken-1 z-depth-0" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="https://www.codesansar.com" class="brand-logo">
			<img src="https://www.codesansar.com/themes/musu/assets/images/logo.jpg" alt="CodeSansar" class="responsive-img">
		</a>
		<ul class="right hide-on-med-and-down">
			<li>
				<a href="https://www.codesansar.com/tutorials/" class="dropdown-trigger" data-target="tutorials-web-dropdown">Tutorials &#9662;</a>
			</li>
			<li>
				<a href="https://www.codesansar.com/examples/" class="dropdown-trigger" data-target="examples-web-dropdown">Examples &#9662;</a>
			</li>
			<li><a href="https://www.codesansar.com/online-calculator/">Online Calculator </a></li>
		</ul>
		<ul id="nav-mobile" class="sidenav">
			<li>
				<a href="https://www.codesansar.com/tutorials/" class="dropdown-trigger" data-target="tutorials-mobile-dropdown">Tutorials &#9662;</a>
				</li>
			<li>
				<a href="https://www.codesansar.com/examples/" class="dropdown-trigger" data-target="examples-mobile-dropdown">Examples &#9662;</a>
			</li>
			<li><a href="https://www.codesansar.com/online-calculator/">Online Calculator </a></li>		</ul>
		<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="fas fa-bars white-text"></i></a>
	</div>
</nav>
<ul id="tutorials-web-dropdown" class="dropdown-content">
	<li><a href="section/python">Python Programming</a></li>
	<li class="divider"></li>
	<li><a href="https://www.codesansar.com/c-programming">C Programming</a></li>
</ul>
  
<ul id="tutorials-mobile-dropdown" class="dropdown-content">
</ul>
  
<ul id="examples-web-dropdown" class="dropdown-content">
	<li><a href="https://www.codesansar.com/c-programming-examples">C Programming Examples</a></li>
	<li class="divider"></li>
	<li><a href="python-programming-examples.html">Python Programming Examples</a></li>
</ul> 
  
<ul id="examples-mobile-dropdown" class="dropdown-content">
</ul><div id="index-banner" class="parallax-container">
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<h1 class="header center light grey-text text-darken-1">Coding Made Easy!</h1>
			<div class="row center">
				<h5 class="header col s12 light grey-text text-darken-1">Learn Programming by Tutorials and Examples from Codesansar.</h5>
			</div>
			<div class="row center">
				<a href="https://www.codesansar.com/tutorials/" id="download-button" class="btn-large waves-effect waves-light teal darken-1">All Tutorials</a>
				<a href="https://www.codesansar.com/examples/" id="download-button" class="btn-large waves-effect waves-light cyan darken-1">All Examples</a>
			</div>
			<br><br>
		</div>
	</div>
	<div class="parallax">
		<img src="https://www.codesansar.com/themes/musu/assets/images/hero1.svg" alt="Learn Programming" />
	</div>
</div>

<div class="container-fluid green lighten-5">
	<div class="container">
		<div class="section">
			<div class="row ">
				<div class="col s12 m12">
					<br><br>
					<p class="light center flow-text">Codesansar offers programming <strong>Tutorials</strong> and <strong>Examples</strong> on <strong>popular programming languages from scratch.</strong></p> 
					<p class="light center flow-text">Our goal is to provide programming tutorials, examples and projects which are <strong>easy to comprehend for beginners</strong> and to provide <strong>core programming concepts</strong> to those who already have experience in programming.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<br><br>
				<h3 class="header col s12 light grey-text text-darken-3">Learn C Programming</h3>
				<div class="row center">
					<a href="https://www.codesansar.com/c-programming/" id="download-button"
					class="btn-large waves-effect waves-light teal darken-1">C Tutorials</a>
					<a href="https://www.codesansar.com/c-programming-examples/" id="download-button"
					class="btn-large waves-effect waves-light cyan darken-1">C Examples</a>
				</div>
			</div>
		</div>
	</div>
	<div class="parallax">
		<img src="https://www.codesansar.com/themes/musu/assets/images/hero2.svg" alt="Learn Programming" />
	</div>
</div>

<div class="container-fluid indigo lighten-5">
	<div class="container">
		<div class="section">
			<div class="row ">
				<div class="col s12 m12 center">
					<br><br>
					<h4 class="light cyan-text text-darken-1">Why to Learn C Programming Language?</h4>
					<p class="light center flow-text">C is one of the <strong>most popular computer programming language</strong> because of its <strong>flexibility</strong> and <strong>power</strong>. It has won widespread acceptance because it gives programmer <strong>maximum control</strong> and <strong>efficiency</strong>.</p>
					<p class="light center flow-text">C is <strong>mother of all programming languages</strong> and learning it makes your programming fundamentals very strong and you can <strong>influence the programmer all over the world</strong>.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<br><br>
				<h3 class="header col s12 light grey-text text-darken-3">Learn Numerical Methods</h3>
				<div class="row center">
					<a href="https://www.codesansar.com/numerical-methods/" id="download-button" class="btn-large waves-effect waves-light teal darken-1">Numerical Method Tutorials</a>
				</div>
			</div>
		</div>
	</div>
	<div class="parallax">
		<img src="https://www.codesansar.com/themes/musu/assets/images/hero3.svg" alt="Learn Programming" />
	</div>
</div>

<div class="container-fluid light-blue lighten-5">
	<div class="container">
		<div class="section">
			<div class="row ">
				<div class="col s12 m12 center">
					<br><br>
					<h4 class="light cyan-text text-darken-1">About Numerical Methods</h4>
					<p class="light center flow-text"><strong>Numerical computing</strong> is an approach of solving complex mathematical problems which <strong>can not be solved easily by analytical mathematics</strong> by using <strong>simple arithmetic operations</strong> and which requires development, analysis and use of an algorithm along with some computing tools.</p>
					<p class="light center flow-text">In numerical analysis mathematical problems are <strong>formulated and solved with arithmetic operations</strong> and these arithmetic operations are carried out with the help of <strong>high level programming languages like C, C++, Python, Matlab</strong> etc on computer.</p>
				</div>
			</div>
		</div>
	</div>
</div><footer class="page-footer grey lighten-3">
	<div class="container">
		<div class="row">
			<div class="col l5 s12">
				<h5 class="grey-text text-darken-4">About Us</h5>
				<p class="grey-text text-darken-4 footp">Codesansar is online platform that provides tutorials and examples on popular programming languages.</p>
			</div>
			<div class="col l4 s12">
				<h5 class="grey-text text-darken-4">Links</h5>
				<ul>
					<li><a class=" btn-flat blue-text" href="https://www.codesansar.com/about-us.htm">About Us</a></li>
					<li><a class=" btn-flat  blue-text" href="https://www.codesansar.com/contact-us.htm">Contact Us</a></li>
					<li><a class=" btn-flat  blue-text" href="https://www.codesansar.com/privacy-policy.htm">Privacy Policy</a></li>
					<li><a class=" btn-flat  blue-text" href="https://www.codesansar.com/cookies-policy.htm">Cookies Policy</a></li>
				</ul>
			</div>
			<div class="col l3 s12 ">
				<h5 class="grey-text text-darken-4">Social Media</h5>
				<ul>
					<li>
						<a class="facebook btn-flat "  href="https://www.facebook.com/codesansar" rel="nofollow"><i class="fab fa-facebook"></i>  Facebook</a>
					</li>
					<li>
						<a class="twitter btn-flat "  href="https://www.twitter.com/codesansar" rel="nofollow"><i class="fab fa-twitter"></i> Twitter</a>
					</li>
					<li>
						<a class="youtube  btn-flat " href="https://www.youtube.com/channel/UCxg2Q0krbG2_BA6L_PC93sg" rel="nofollow"><i class="fab fa-youtube"></i> Youtube</a>
					</li>
					<li>
						<a class="github btn-flat " href="https://github.com/codesansar" rel="nofollow"><i class="fab fa-github"></i> Github</a>
					</li>
					<li>
						<a class="instagram btn-flat " href="https://www.instagram.com/codesansar" rel="nofollow"><i class="fab fa-instagram"></i> Instagram</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright teal darken-1">
		<div class="container white-text center">
			&copy; 2023 Codesansar. All Rights Reserved.
		</div>
	</div>
</footer>
<script src="{% static 'www.codesansar.com/combine/22.html' %}"></script>

</body>
</html>