{% extends "base.html" %}

{% block content %}




<div id="index-banner" class="parallax-container">
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<h1 class="header center light grey-text text-darken-1">My Docoments & My Code!</h1>
			<div class="row center">
				<h5 class="header col s12 light grey-text text-darken-1">Learn Programming by Tutorials from My Website.</h5>
			</div>
			<div class="row center">
				<a href="/" id="download-button" class="btn-large waves-effect waves-light teal darken-1">All Tutorials</a>
				<a href="{% url 'dashboard' %}" id="download-button" class="btn-large waves-effect waves-light cyan darken-1">My Dashboard</a>
			</div>
			<br><br>
		</div>
	</div>
	<div class="parallax">
		<img src="https://www.codesansar.com/themes/musu/assets/images/hero1.svg" alt="Learn Programming" />
	</div>
</div>
<!-- 
<div class="container-fluid green lighten-5">
	<div class="container">
		<div class="section">
			<div class="row ">
				<div class="col s12 m12">
					<br><br>
					<p class="light center flow-text">Codesansar offers programming <strong>Tutorials</strong> and <strong>Examples</strong> on <strong>popular programming languages from scratch.</strong></p> 
					<p class="light center flow-text">Our goal is to provide programming tutorials, examples and projects which are <strong>easy to comprehend for beginners</strong> and to provide <strong>core programming concepts</strong> to those who already have experience in programming.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<br><br>
				<h3 class="header col s12 light grey-text text-darken-3">Learn Python Programming</h3>
				<div class="row center">
					<a href="https://www.codesansar.com/c-programming/" id="download-button"
					class="btn-large waves-effect waves-light teal darken-1">C Tutorials</a>
					<a href="https://www.codesansar.com/c-programming-examples/" id="download-button"
					class="btn-large waves-effect waves-light cyan darken-1">C Examples</a>
				</div>
			</div>
		</div>
	</div>
	<div class="parallax">
		<img src="https://www.codesansar.com/themes/musu/assets/images/hero2.svg" alt="Learn Programming" />
	</div>
</div>

<div class="container-fluid indigo lighten-5">
	<div class="container">
		<div class="section">
			<div class="row ">
				<div class="col s12 m12 center">
					<br><br>
					<h4 class="light cyan-text text-darken-1">Why to Learn C Programming Language?</h4>
					<p class="light center flow-text">C is one of the <strong>most popular computer programming language</strong> because of its <strong>flexibility</strong> and <strong>power</strong>. It has won widespread acceptance because it gives programmer <strong>maximum control</strong> and <strong>efficiency</strong>.</p>
					<p class="light center flow-text">C is <strong>mother of all programming languages</strong> and learning it makes your programming fundamentals very strong and you can <strong>influence the programmer all over the world</strong>.</p>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- 
<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<br><br>
				<h3 class="header col s12 light grey-text text-darken-3">Learn Numerical Methods</h3>
				<div class="row center">
					<a href="https://www.codesansar.com/numerical-methods/" id="download-button" class="btn-large waves-effect waves-light teal darken-1">Numerical Method Tutorials</a>
				</div>
			</div>
		</div>
	</div>
	<div class="parallax">
		<img src="https://www.codesansar.com/themes/musu/assets/images/hero3.svg" alt="Learn Programming" />
	</div>
</div> -->

<div class="container-fluid light-blue lighten-5">
	<div class="container">
		<div class="section">
			<div class="row ">
				<div class="col s12 m12 center">
					<br><br>
					<h4 class="light cyan-text text-darken-1">About For Me</h4>
					<p class="light center flow-text"><strong> Hello Everybody</strong> An Opportunity for Testing My Skills! A Django project that reflects and enhances my proficiency. The project's aim? Simply put, building a "Documents" platform to record my learning journey. </p>
					<p class="light center flow-text">This project will assist me in staying on track with what I'm learning and documenting every concept. But that's not all, this resource will be available for anyone interested in learning the same topic in the future. The website will primarily focus on <strong>Python and Django </strong> , making it particularly valuable for enthusiasts and learners of these two languages..</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}