{% extends "base.html" %}


{% block content %}





<div class="container-fluid" style="background-color:#fafafa;">
	<div class="row">
		<div class="col xl8 l8 m12 s12 push-xl3 push-l3">
			<main role="main">
				<article class="page">
					<h1 class="center">{{data.title}}</h1>



					<h2>Intro For {{data}}</h2>


					<p>{{data.intro|safe}}.</p>


					<hr>

					<h2>Elements of the subject</h2>

					<ol class="ordered-list main-ordered-list grey lighten-5">
						<li><strong>Free</strong>, meaning, you don't have to buy it to use.</li>
						<li><strong>Open source</strong>, meaning, original source code is made freely available and people can modify and share because its design is publicly accessible.</li>
						<li><strong>Cross-platform</strong>, meaning, it runs on multiple platforms like Linux, MacOS, Windows and other platforms.</li>
					</ol>
					

<h2>More About Python</h2>

<p>Python is <strong>free, open source and cross-platform</strong> programming language.</p>



<h2>Your First Python Program</h2>
<p>In the editor, after <code>>>></code> now type <code>print('Welcome to Python!')</code>, i.e.</p>
<p class="flow-text">Program</p>
<pre><code class="language-python">

print('Welcome to Python!')

</code></pre>

<p class="flow-text">Output</p>
<pre>
Welcome to Python!
</pre>

<div class=" box grey lighten-5">
	<p>With this welcome message <a href="https://www.codesansar.com">Codesansar</a> welcomes you to your python journey :)</p>

<p><strong>Never stop learning!</strong> Now check this example: <a href="https://www.codesansar.com/python-programming-examples/add-two-numbers.htm">Python Program to Add Two Numbers</a></p>
</div>									</article>
			</main>
					
					</div>
		<div class="hide-on-med-and-down col custom-col xl3 l3 m12 s12 pull-l8 pull-xl8">
			<div style="margin:24px 36px 36px 24px;">
				<aside>
																				<ul class="collapsible expandable z-depth-0">
				
                <!-- Subjects -->
				{% if subject_list %}
				<!-- Your for loop here -->
			
					 {% for subject in subject_list %}
					<li >
					<div class="collapsible-header grey lighten-3 black-text">
					<span class="leftside-header">{{subject.title}}  ....</span>
					</div>
					<div class="collapsible-body white">
					<ul class="leftside-list">
					<li ><a href="{{subject.id}}/{{subject.id}}">{{subject.title}}</a> </li>
					</ul>
					</div>
					</li>
					{% endfor %}
					</ul>
				</aside>
				{% else %}
				<div class="collapsible-header grey lighten-3 black-text">
					<span class="leftside-header">No Topic available.</span>
				</div>

			{% endif %}

                <!-- End subject -->




				<div>
					<!-- Ad here -->
				</div>	
			</div>
		</div>
		<div class="hide-on-med-and-down col xl1 l1 m12 s12">
			<div class="margin1">
				<div>
					<!-- Ad here -->
<!-- leftside -->

			</div>
		</div>
	</div>
</div>


{% endblock content %}