{% extends "base.html" %}


{% block content %}


<div class="container-fluid" style="background-color:#fafafa;">
	<div class="row">
		<div class="col xl8 l8 m12 s12 push-xl3 push-l3">
			<main role="main">
				<article class="page">
					<h1 class="center">{{object.title}}</h1>


<p>{{object.content|safe}}</p>


<h2>More About {{object.title}}</h2>

<p>Python is <strong>free, open source and cross-platform</strong> programming language.</p>

<ol class="ordered-list main-ordered-list grey lighten-5">
	<li><strong>Free</strong>, meaning, you don't have to buy it to use.</li>
	<li><strong>Open source</strong>, meaning, original source code is made freely available and people can modify and share because its design is publicly accessible.</li>
	<li><strong>Cross-platform</strong>, meaning, it runs on multiple platforms like Linux, MacOS, Windows and other platforms.</li>
</ol>

<h2>Python Installation</h2>
<p>To get started with python, go to site <a href="https://www.python.org/">python.org</a> and go to download section. There are two version of python, python 2 and python 3. Download python interpreter software for latest stable software for python 3 for your operating system.  </p>

<p>Based on operating system, Linux, <a href="https://www.python.org/downloads/windows/">Windows</a>, <a href="https://www.python.org/downloads/mac-osx/">MacOs</a> that you’re working with, software and installation process is different. So, we encourage you to follow installation guide provided in <a href="https://www.python.org/">python.org</a>.</p>
  
<p>While installing python interpreter software, it comes with editor software called <strong>IDLE</strong>, where you type your python language code and run. After installation launch IDLE code editor.</p>

</div>

{% endblock content %}